:root {
  --home-primary: #3ba171;
  --base-primary: #6200ff;
  --secondary: #555;

  --home-accent: green;
  --base-accent: rgb(92, 3, 165);
}

.container {
  position: absolute;
  display: grid;
  justify-content: center; /* Center the nav horizontally */
  align-items: center; /* Center the nav vertically */
  z-index: 1000;
}

#nav {
  place-self: center;
  width: 100vw;
  margin-left: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between links */
  padding: 1em 2em;
  background-color: transparent; /* */
}

#nav > .link {
  text-decoration: none;
  color: #ffffff; /* Bootstrap primary blue, but use what fits your design */
  font-weight: 500; /* Medium font weight */
  padding: 0.5em 0.5em; /* Padding for clickable area */
  /* border-radius: 5px;  */
  transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}

#nav > .link:hover,
#nav > .link:focus {
  border-bottom: 2px solid var(--base-primary);
  color: var(--base-primary);
  transition: all 0.25s;
}
#nav > .home-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 0.5em 0.5em;
  /* border-radius: 5px;  */
  transition: background-color 0.2s, color 0.2s;
  border-bottom: 2px solid transparent;
  transition: all 0.25s;
}
#nav > .home-link:hover,
#nav > .home-link:focus {
  border-bottom: 2px solid var(--home-primary);
  color: var(--home-primary);
  transition: all 0.25s;
}

aside {
  position: absolute;
  left: 2.5em;
  top: 7em;
  z-index: 0;
}

aside > nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0.75em 0.5em;
  z-index: 1; /* Ensure nav is above the pseudo-element */
  overflow: hidden; /* Ensure the pseudo-element's blur does not bleed outside the border */
}

aside > nav > span {
  padding: 0.5em 0.25em;
}
aside > nav > span > li,
aside > nav > span > li > a {
  text-decoration: none;
  all: unset;
  cursor: pointer;
}
aside > nav > span:hover {
  border-radius: 7px;
  background-color: #555;
}

.content {
  background-image: url("/img/background2.jpg");
  background-position: top;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.content-home {
  background-image: url("/img/landing.jpg");
  background-position: top;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  /* overflow-y: scroll; */
}
.content::-webkit-scrollbar-track {
  background-color: transparent; /* Make track invisible */
}
.content::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}
.content::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid transparent; /* Creates padding around scroll thumb */
}
.content::-webkit-scrollbar-thumb {
  background-color: #333; /* or any color you prefer */
}

#content > #bg {
  display: grid;
  width: 100%;
  height: 100vh;
}

#templates {
  place-self: center;
}

.buffer {
  position: absolute;
  height: 160px;
  width: 160px;
  /* border-radius: 50%; */
  /* background-color: red; */

  top: 50;
  left: 50;
  transform: translate(50%, 50%);
}

.outter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid white;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid white;
}

.number {
  color: #999;
  font-weight: 500;
}

.contact > #contact {
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}
.contact > #contact > #input {
  height: 50px;
  width: 350px;
  border-radius: 5px;
  background-color: #1f1f1f;
  padding: 0 0.5em;
}
.contact > #contact > textarea {
  border-radius: 5px;
  background-color: #1f1f1f;
  padding: 0.5em;
}
.contact > #contact > textarea,
.contact > #contact > #input {
  color: #ccc;
  border: 1px solid transparent;
  transition: all 0.25s;
}
.contact > #contact > textarea,
.contact > #contact > #input:hover,
.contact > #contact > textarea,
.contact > #contact > #input:focus,
.contact > #contact > button:hover,
.contact > #contact > button:focus {
  border: 1px solid #6200ff;
  transition: all 0.25s;
}
.contact > #contact > #checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact > #contact > #checkbox-container > #checkbox {
  margin: auto 0.25em;
  margin-bottom: 1.25em;
}
.contact > #contact > #checkbox-container > p {
  color: #555;
  margin-left: 5px;
}
.contact > #contact > button {
  padding: 0.6em 1.2em;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #1f1f1f;
  color: #666;
  transition: all 0.25s;
}

.article-container {
  margin-top: 5em;
  max-width: 50vw;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container > .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 450px;
  margin: 5px 5px;
  color: #3ba171;
  border-radius: 10px;
  background-color: #1f1f1f;
  border: 1px solid transparent;
  transition: all 0.25s;
  box-shadow: 0 4px 6px 0 rgba(62, 165, 117, 0.2);
}
.card-container > .card:hover,
.card-container > .card:focus {
  border: 1px solid #3ba171;
  transition: all 0.25s;
  box-shadow: 0 6px 12px 0 rgba(62, 165, 117, 0.4);
}
